<p id="notice"></p>
<p>
<!--  <%= @result %>-->
  <% if @water.ems_result %>
    <%= @water.ems_result %> <br>
  <% else %>
    No data retrieved
  <% end %>
</p>
<!--<p>
  <%= @resultHash.each do |key, value| %>
    <%= key %> is : <%= value %> <br>
  <% end %>
</p>
<p>
  <%= @resultHash.fetch("Items").each do |a| %>
    <%= a %> </br>
  <% end %>
</p>-->
<p>
  <%= @water.ems_result.class %>
</p>
<%= link_to 'Edit', edit_water_path(@water) %> |
<%= link_to 'Back', waters_path %>
