<h1>No data retrieved yet</h1>
<p>
<!--  <%= @result %>-->
<%= @water.usage %> <br>
<%= link_to 'Edit', edit_water_path(@water) %> |
<%= link_to 'Back', waters_path %>
</p>

<%if false%>
<p>
  <%= @resultHash.each do |key, value| %>
    <%= key %> is : <%= value %> <br>
  <% end %>
</p>
<p>
  <%= @resultHash.fetch("Items").each do |a| %>
    <%= a %> </br>
  <% end %>
</p>
<% end %>

