<p id="notice"></p>
<p>
<!--  <%= @result %>-->
  <% if @tenant.usage %>
    <%= @tenant.usage %> <br>
  <% else %>
    No data retrieved
  <% end %>
</p>
<%if false%>
<p>
  <%= @resultHash.each do |key, value| %>
    <%= key %> is : <%= value %> <br>
  <% end %>
</p>
<p>
  <%= @resultHash.fetch("Items").each do |a| %>
    <%= a %> </br>
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_water_path(@water) %> |
<%= link_to 'Back', waters_path %>
